name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_SECRET }}
          config_timezone: America/New_York
          retries: 3
          retries_delay: 300
          config_display: large
          plugin_activity: no
          plugin_activity_filter: issue, pr, release, fork, review, ref/create
          plugin_introduction: yes
          plugin_isocalendar: no
          plugin_repositories: no
          plugin_repositories_featured: socially-distant/bazzite
          plugin_repositories_affiliations: owner, collaborator
          plugin_licenses: yes
          plugin_followup: yes
          plugin_followup_sections: user
          plugin_fortune: yes
          plugin_steam: yes
          plugin_steam_token: ${{ secrets.STEAM_TOKEN }}
          plugin_steam_user: ${{ secrets.STEAM_UID }}
          plugin_steam_sections: player, recently-played
          plugin_steam_achievements_limit: 3
          plugin_rss: yes
          plugin_rss_source: https://news.ycombinator.com/rss
          plugin_rss_limit: 4
